
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #fff;
  /* background-image: url('https://source.unsplash.com/random'); */
  background-image: url('http://10anos.ifms.edu.br/capa_site/site-capa-atalho-2019.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
  background-color: #fff;
  border-radius: 25px;
}

.content {
  padding: 10%;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.5), 32px 16px 32px 16px rgba(0, 0, 0, 0.8);
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}